* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NeonFont";
  src: url("NeonFont.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgb(59, 44, 66);
  font-family: "NeonFont", sans-serif;
  padding: 15px 0 15px 12px;
}

header h1 {
  font-size: 36px;
}

header span.neon {
  color: rgb(0, 200, 255);
  filter: drop-shadow(0 0 5px rgba(0, 200, 255, 0.8));
}

header span.tictactoe {
  color: rgb(255, 0, 170);
  filter: drop-shadow(0 0 5px rgba(255, 0, 170, 0.8));
}

main {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(59, 44, 66);
  box-shadow: 0px 3px 10px rgb(20, 15, 22) inset;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-board {
  width: max(80%, 500px);
  display: flex;
  justify-content: space-between;
}

.left-side,
.right-side {
  display: flex;
  align-items: center;
  flex: 1;
}

.neon-O,
.neon-X {
  height: 50px;
  width: auto;
  background-color: black;
  padding: 5px;
}

.neon-O {
  border-top-left-radius: 25px;
  background-color: rgba(0, 200, 255, 0.15);
  border-left: 2px solid rgb(0, 29, 36);
  border-top: 2px solid rgb(0, 29, 36);
}

.neon-X {
  border-top-right-radius: 25px;
  background-color: rgba(255, 0, 170, 0.15);
  border-right: 2px solid rgb(48, 0, 32);
  border-top: 2px solid rgb(48, 0, 32);
}

.neon-O circle {
  fill: none;
  stroke: rgb(0, 200, 255);
  stroke-width: 1.25;
  filter: drop-shadow(0 0 1px rgba(0, 200, 255, 0.8));
}

.neon-X line {
  stroke: rgb(255, 0, 170);
  stroke-width: 1.25;
  filter: drop-shadow(0 0 1px rgba(255, 0, 170, 0.8));
}

.left-side .player-score-tab {
  background-color: rgba(0, 113, 141, 0.15);
  color: rgb(0, 200, 255);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 8.75px 10px;
  border-top: 2px solid rgb(0, 29, 36);
}

.left-side .score {
  filter: drop-shadow(0 0 1px rgba(0, 200, 255, 0.8));
  font-size: 36px;
}

.right-side .player-score-tab {
  background-color: rgba(152, 0, 101, 0.15);
  color: rgb(255, 0, 170);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 8.75px 10px;
  border-top: 2px solid rgb(48, 0, 32);
}

.right-side .score {
  filter: drop-shadow(0 0 1px rgba(255, 0, 170, 0.8));
  font-size: 36px;
}

.ties {
  background-color: rgba(18, 13, 20, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  border-top: 2px solid rgb(18, 13, 20);
}

.ties p {
  color: rgb(169, 152, 177);
  font-size: 12px;
}

.ties p.score {
  font-size: 24px;
  color: white;
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.8));
}

.game-content {
  box-shadow: 0px -5px 10px rgba(20, 15, 22, 0.5);
  width: max(80%, 500px);
  display: flex;
}

.game-board {
  display: grid;
  grid-template-rows: 120px 120px 120px;
  grid-template-columns: 120px 120px 120px;
  gap: 20px;
  background-color: rgb(38, 28, 43);
  padding: 50px;
}

.game-window {
  background: linear-gradient(135deg, rgba(232, 204, 246, 0.25) 0%, rgba(178, 120, 205, 0.25) 50%, rgba(82, 35, 104, 0.25) 100%);
}

.start-menu {
  display: block;
  color: rgb(220, 200, 230);
}

form {
  display: flex;
  flex-direction: column;
}

.logs {
  display: none;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 20px 0;
  background-color: rgb(38, 28, 43);
  color: rgb(169, 152, 177);
}